In [ ]:
#per installare
!pip install geopandas

import pandas as pd
import geopandas as geopd

# ***a. Visualizzare il nome della provincia e il nome della regione***

In [ ]:
province = geopd.read_file("/content/drive/MyDrive/Colab Notebooks/Limiti01012021_g/Limiti01012021_g/ProvCM01012021_g/ProvCM01012021_g_WGS84.dbf")
regioni = geopd.read_file("/content/drive/MyDrive/Colab Notebooks/Limiti01012021_g/Limiti01012021_g/Reg01012021_g/Reg01012021_g_WGS84.dbf")

In [ ]:
province

     COD_RIP  ...                                           geometry
0          1  ...  POLYGON ((411015.006 5049970.983, 411266.039 5...
1          1  ...  POLYGON ((438328.612 5087208.215, 439028.888 5...
2          1  ...  POLYGON ((460929.542 5076320.298, 461165.259 5...
3          1  ...  MULTIPOLYGON (((378673.492 4958865.159, 378928...
4          1  ...  POLYGON ((425041.329 4997628.309, 424948.989 4...
..       ...  ...                                                ...
102        1  ...  POLYGON ((457749.464 5145501.795, 458662.395 5...
103        1  ...  POLYGON ((519754.706 5065242.380, 520199.702 5...
104        3  ...  POLYGON ((884760.019 4804406.440, 885511.011 4...
105        4  ...  POLYGON ((1081237.144 4611047.023, 1081399.393...
106        5  ...  MULTIPOLYGON (((448813.650 4301762.751, 448823...

[107 rows x 13 columns]

In [ ]:
regioni

    COD_RIP  ...                                           geometry
0         1  ...  POLYGON ((457749.464 5145501.795, 458662.395 5...
1         1  ...  POLYGON ((390652.644 5091766.171, 390748.643 5...
2         1  ...  MULTIPOLYGON (((485536.366 4985444.605, 485366...
3         2  ...  POLYGON ((743267.749 5219765.793, 743387.812 5...
4         2  ...  POLYGON ((768123.960 5175397.497, 768135.210 5...
5         2  ...  MULTIPOLYGON (((872344.457 5061894.048, 872344...
6         1  ...  MULTIPOLYGON (((568226.691 4874823.573, 568219...
7         2  ...  MULTIPOLYGON (((618343.929 4893985.661, 618335...
8         3  ...  MULTIPOLYGON (((674426.642 4680710.364, 674563...
9         3  ...  MULTIPOLYGON (((776982.140 4832209.918, 776910...
10        3  ...  POLYGON ((802303.985 4874996.456, 802366.734 4...
11        3  ...  MULTIPOLYGON (((875952.995 4524692.050, 875769...
12        4  ...  MULTIPOLYGON (((930273.425 4714737.743, 930147...
13        4  ...  POLYGON ((984002.800 4670714.415, 985067.040 4...
14        4  ...  MULTIPOLYGON (((1037313.692 4449410.367, 10373...
15        4  ...  MULTIPOLYGON (((1280636.111 4454459.746, 12806...
16        4  ...  MULTIPOLYGON (((1073707.061 4445700.106, 10737...
17        4  ...  MULTIPOLYGON (((1083358.846 4416348.741, 10833...
18        5  ...  MULTIPOLYGON (((822886.611 3935355.889, 822871...
19        5  ...  MULTIPOLYGON (((448813.650 4301762.751, 448823...

[20 rows x 6 columns]

In [ ]:
df_prov_reg = pd.merge(province, regioni, how="right", on=["COD_REG"])
df_prov_reg.head(10)

   COD_RIP_x  ...                                         geometry_y
0          1  ...  POLYGON ((457749.464 5145501.795, 458662.395 5...
1          1  ...  POLYGON ((457749.464 5145501.795, 458662.395 5...
2          1  ...  POLYGON ((457749.464 5145501.795, 458662.395 5...
3          1  ...  POLYGON ((457749.464 5145501.795, 458662.395 5...
4          1  ...  POLYGON ((457749.464 5145501.795, 458662.395 5...
5          1  ...  POLYGON ((457749.464 5145501.795, 458662.395 5...
6          1  ...  POLYGON ((457749.464 5145501.795, 458662.395 5...
7          1  ...  POLYGON ((457749.464 5145501.795, 458662.395 5...
8          1  ...  POLYGON ((390652.644 5091766.171, 390748.643 5...
9          1  ...  MULTIPOLYGON (((485536.366 4985444.605, 485366...

[10 rows x 18 columns]

In [ ]:
df_prov_regione_groupby = df_prov_reg.groupby(["DEN_UTS", "DEN_REG"], as_index = False).count()
df_prov_regione_groupby.filter(items = ["DEN_UTS", "DEN_REG"])

           DEN_UTS        DEN_REG
0        Agrigento        Sicilia
1      Alessandria       Piemonte
2           Ancona         Marche
3            Aosta  Valle d'Aosta
4           Arezzo        Toscana
..             ...            ...
102       Vercelli       Piemonte
103         Verona         Veneto
104  Vibo Valentia       Calabria
105        Vicenza         Veneto
106        Viterbo          Lazio

[107 rows x 2 columns]

In [ ]:
####   correzione

df_prov_reg22 = pd.merge(province, regioni, how="inner", on=["COD_REG"])[["DEN_UTS", "DEN_REG"]]
df_prov_reg22

          DEN_UTS   DEN_REG
0          Torino  Piemonte
1        Vercelli  Piemonte
2          Novara  Piemonte
3           Cuneo  Piemonte
4            Asti  Piemonte
..            ...       ...
102       Sassari  Sardegna
103         Nuoro  Sardegna
104      Cagliari  Sardegna
105      Oristano  Sardegna
106  Sud Sardegna  Sardegna

[107 rows x 2 columns]

# ***b. Visualizzare il nome della provincia e il nome del comune***

In [ ]:
province = geopd.read_file("/content/drive/MyDrive/Colab Notebooks/Limiti01012021_g/Limiti01012021_g/ProvCM01012021_g/ProvCM01012021_g_WGS84.dbf")
comuni = geopd.read_file("/content/drive/MyDrive/Colab Notebooks/Limiti01012021_g/Limiti01012021_g/Com01012021_g/Com01012021_g_WGS84.dbf")

In [ ]:
province

     COD_RIP  ...                                           geometry
0          1  ...  POLYGON ((411015.006 5049970.983, 411266.039 5...
1          1  ...  POLYGON ((438328.612 5087208.215, 439028.888 5...
2          1  ...  POLYGON ((460929.542 5076320.298, 461165.259 5...
3          1  ...  MULTIPOLYGON (((378673.492 4958865.159, 378928...
4          1  ...  POLYGON ((425041.329 4997628.309, 424948.989 4...
..       ...  ...                                                ...
102        1  ...  POLYGON ((457749.464 5145501.795, 458662.395 5...
103        1  ...  POLYGON ((519754.706 5065242.380, 520199.702 5...
104        3  ...  POLYGON ((884760.019 4804406.440, 885511.011 4...
105        4  ...  POLYGON ((1081237.144 4611047.023, 1081399.393...
106        5  ...  MULTIPOLYGON (((448813.650 4301762.751, 448823...

[107 rows x 13 columns]

In [ ]:
comuni

      COD_RIP  ...                                           geometry
0           1  ...  POLYGON ((404703.558 5026682.655, 405359.554 5...
1           1  ...  POLYGON ((380700.909 4977305.520, 381105.998 4...
2           1  ...  POLYGON ((364710.857 5022090.678, 364737.794 5...
3           1  ...  POLYGON ((415942.504 5033304.609, 416079.315 5...
4           1  ...  POLYGON ((376934.962 4999073.854, 376960.555 4...
...       ...  ...                                                ...
7898        5  ...  MULTIPOLYGON (((556602.772 4375162.650, 556598...
7899        5  ...  POLYGON ((541186.146 4375105.653, 541180.146 4...
7900        5  ...  MULTIPOLYGON (((546451.098 4325900.553, 546443...
7901        5  ...  POLYGON ((500362.475 4361229.767, 500397.474 4...
7902        5  ...  POLYGON ((494131.525 4353208.832, 494847.519 4...

[7903 rows x 13 columns]

In [ ]:
df_prov_comune = pd.merge(province, comuni, how="right", on="COD_PROV")
df_prov_comune

      COD_RIP_x  ...                                         geometry_y
0             1  ...  POLYGON ((404703.558 5026682.655, 405359.554 5...
1             1  ...  POLYGON ((380700.909 4977305.520, 381105.998 4...
2             1  ...  POLYGON ((364710.857 5022090.678, 364737.794 5...
3             1  ...  POLYGON ((415942.504 5033304.609, 416079.315 5...
4             1  ...  POLYGON ((376934.962 4999073.854, 376960.555 4...
...         ...  ...                                                ...
7898          5  ...  MULTIPOLYGON (((556602.772 4375162.650, 556598...
7899          5  ...  POLYGON ((541186.146 4375105.653, 541180.146 4...
7900          5  ...  MULTIPOLYGON (((546451.098 4325900.553, 546443...
7901          5  ...  POLYGON ((500362.475 4361229.767, 500397.474 4...
7902          5  ...  POLYGON ((494131.525 4353208.832, 494847.519 4...

[7903 rows x 25 columns]

In [ ]:
pd_prov_comune_groupby = df_prov_comune.groupby(["DEN_UTS", "COMUNE"], as_index = False).count()
pd_prov_comune_groupby.filter(items = ["DEN_UTS", "COMUNE"])

        DEN_UTS                        COMUNE
0     Agrigento                     Agrigento
1     Agrigento       Alessandria della Rocca
2     Agrigento                       Aragona
3     Agrigento                        Bivona
4     Agrigento                        Burgio
...         ...                           ...
7898    Viterbo                      Vetralla
7899    Viterbo                    Vignanello
7900    Viterbo  Villa San Giovanni in Tuscia
7901    Viterbo                       Viterbo
7902    Viterbo                   Vitorchiano

[7903 rows x 2 columns]

In [ ]:
####     correzione

df_prov_comune22 = pd.merge(province, comuni, how="right", on="COD_PROV")[["DEN_UTS", "COMUNE"]]
df_prov_comune22

           DEN_UTS           COMUNE
0           Torino           AgliÃƒÂ¨
1           Torino          Airasca
2           Torino     Ala di Stura
3           Torino  Albiano d'Ivrea
4           Torino           Almese
...            ...              ...
7898  Sud Sardegna       Villaputzu
7899  Sud Sardegna       Villasalto
7900  Sud Sardegna      Villasimius
7901  Sud Sardegna         Villasor
7902  Sud Sardegna    Villaspeciosa

[7903 rows x 2 columns]

# ***c. Visualizzare il nome del comune e il nome della regione***

In [ ]:
df_com_regC = pd.merge(comuni, regioni, how="outer", on="COD_REG")
df_com_regC

      COD_RIP_x  ...                                         geometry_y
0             1  ...  POLYGON ((457749.464 5145501.795, 458662.395 5...
1             1  ...  POLYGON ((457749.464 5145501.795, 458662.395 5...
2             1  ...  POLYGON ((457749.464 5145501.795, 458662.395 5...
3             1  ...  POLYGON ((457749.464 5145501.795, 458662.395 5...
4             1  ...  POLYGON ((457749.464 5145501.795, 458662.395 5...
...         ...  ...                                                ...
7898          4  ...  MULTIPOLYGON (((1073707.061 4445700.106, 10737...
7899          4  ...  MULTIPOLYGON (((1073707.061 4445700.106, 10737...
7900          4  ...  MULTIPOLYGON (((1073707.061 4445700.106, 10737...
7901          4  ...  MULTIPOLYGON (((1073707.061 4445700.106, 10737...
7902          4  ...  MULTIPOLYGON (((1073707.061 4445700.106, 10737...

[7903 rows x 18 columns]

In [ ]:
pd_comune_regioni_groupby = df_com_regC.groupby(["COMUNE", "DEN_REG"], as_index = False).count()
pd_comune_regioni_groupby.filter(items = ["COMUNE", "DEN_REG"])

                     COMUNE                DEN_REG
0               Abano Terme                 Veneto
1           Abbadia Cerreto              Lombardia
2           Abbadia Lariana              Lombardia
3     Abbadia San Salvatore                Toscana
4                 Abbasanta               Sardegna
...                     ...                    ...
7898                 Zuglio  Friuli Venezia Giulia
7899               Zumaglia               Piemonte
7900                Zumpano               Calabria
7901                Zungoli               Campania
7902                 Zungri               Calabria

[7903 rows x 2 columns]

In [ ]:
####     correzione

df_com_regC22 = pd.merge(comuni, regioni, how="outer", on="COD_REG")[["COMUNE", "DEN_REG"]]
df_com_regC22

               COMUNE     DEN_REG
0              AgliÃƒÂ¨    Piemonte
1             Airasca    Piemonte
2        Ala di Stura    Piemonte
3     Albiano d'Ivrea    Piemonte
4              Almese    Piemonte
...               ...         ...
7898        Stigliano  Basilicata
7899        Tricarico  Basilicata
7900            Tursi  Basilicata
7901         Valsinni  Basilicata
7902  Scanzano Jonico  Basilicata

[7903 rows x 2 columns]

# ***d. Visualizzare numero di comuni per ogni provincia***

In [ ]:
df_prov_comune3 = pd.merge(province, comuni, how ="outer", on="COD_PROV")
df_prov_comune3

      COD_RIP_x  ...                                         geometry_y
0             1  ...  POLYGON ((404703.558 5026682.655, 405359.554 5...
1             1  ...  POLYGON ((380700.909 4977305.520, 381105.998 4...
2             1  ...  POLYGON ((364710.857 5022090.678, 364737.794 5...
3             1  ...  POLYGON ((415942.504 5033304.609, 416079.315 5...
4             1  ...  POLYGON ((376934.962 4999073.854, 376960.555 4...
...         ...  ...                                                ...
7898          5  ...  MULTIPOLYGON (((556602.772 4375162.650, 556598...
7899          5  ...  POLYGON ((541186.146 4375105.653, 541180.146 4...
7900          5  ...  MULTIPOLYGON (((546451.098 4325900.553, 546443...
7901          5  ...  POLYGON ((500362.475 4361229.767, 500397.474 4...
7902          5  ...  POLYGON ((494131.525 4353208.832, 494847.519 4...

[7903 rows x 25 columns]

In [ ]:
num_comuni_in_province = df_prov_comune3.groupby("DEN_UTS", as_index = False)["COMUNE"].count()
num_comuni_in_province

           DEN_UTS  COMUNE
0        Agrigento      43
1      Alessandria     187
2           Ancona      47
3            Aosta      74
4           Arezzo      36
..             ...     ...
102       Vercelli      82
103         Verona      98
104  Vibo Valentia      50
105        Vicenza     114
106        Viterbo      60

[107 rows x 2 columns]

# ***e. Visualizzare numero di comuni per ogni regione***

In [ ]:
df_reg_com = pd.merge(regioni, comuni, how = "outer", on="COD_REG")
df_reg_com

      COD_RIP_x  ...                                         geometry_y
0             1  ...  POLYGON ((404703.558 5026682.655, 405359.554 5...
1             1  ...  POLYGON ((380700.909 4977305.520, 381105.998 4...
2             1  ...  POLYGON ((364710.857 5022090.678, 364737.794 5...
3             1  ...  POLYGON ((415942.504 5033304.609, 416079.315 5...
4             1  ...  POLYGON ((376934.962 4999073.854, 376960.555 4...
...         ...  ...                                                ...
7898          5  ...  MULTIPOLYGON (((556602.772 4375162.650, 556598...
7899          5  ...  POLYGON ((541186.146 4375105.653, 541180.146 4...
7900          5  ...  MULTIPOLYGON (((546451.098 4325900.553, 546443...
7901          5  ...  POLYGON ((500362.475 4361229.767, 500397.474 4...
7902          5  ...  POLYGON ((494131.525 4353208.832, 494847.519 4...

[7903 rows x 18 columns]

In [ ]:
num_comuni_in_reg = df_reg_com.groupby("DEN_REG", as_index = False)["COMUNE"].count()
num_comuni_in_reg

                  DEN_REG  COMUNE
0                 Abruzzo     305
1              Basilicata     131
2                Calabria     404
3                Campania     550
4          Emilia-Romagna     328
5   Friuli Venezia Giulia     215
6                   Lazio     378
7                 Liguria     234
8               Lombardia    1506
9                  Marche     227
10                 Molise     136
11               Piemonte    1181
12                 Puglia     257
13               Sardegna     377
14                Sicilia     390
15                Toscana     273
16    Trentino-Alto Adige     282
17                 Umbria      92
18          Valle d'Aosta      74
19                 Veneto     563

# ***f. Visualizzare numero di province per ogni regione***

In [ ]:
df_prov_reg2 = pd.merge(province, regioni, how="outer", on="COD_REG")
df_prov_reg2

     COD_RIP_x  ...                                         geometry_y
0            1  ...  POLYGON ((457749.464 5145501.795, 458662.395 5...
1            1  ...  POLYGON ((457749.464 5145501.795, 458662.395 5...
2            1  ...  POLYGON ((457749.464 5145501.795, 458662.395 5...
3            1  ...  POLYGON ((457749.464 5145501.795, 458662.395 5...
4            1  ...  POLYGON ((457749.464 5145501.795, 458662.395 5...
..         ...  ...                                                ...
102          5  ...  MULTIPOLYGON (((448813.650 4301762.751, 448823...
103          5  ...  MULTIPOLYGON (((448813.650 4301762.751, 448823...
104          5  ...  MULTIPOLYGON (((448813.650 4301762.751, 448823...
105          5  ...  MULTIPOLYGON (((448813.650 4301762.751, 448823...
106          5  ...  MULTIPOLYGON (((448813.650 4301762.751, 448823...

[107 rows x 18 columns]

In [ ]:
num_prov_in_reg = df_prov_reg2.groupby("DEN_REG", as_index = False)["DEN_UTS"].count()
num_prov_in_reg

                  DEN_REG  DEN_UTS
0                 Abruzzo        4
1              Basilicata        2
2                Calabria        5
3                Campania        5
4          Emilia-Romagna        9
5   Friuli Venezia Giulia        4
6                   Lazio        5
7                 Liguria        4
8               Lombardia       12
9                  Marche        5
10                 Molise        2
11               Piemonte        8
12                 Puglia        6
13               Sardegna        5
14                Sicilia        9
15                Toscana       10
16    Trentino-Alto Adige        2
17                 Umbria        2
18          Valle d'Aosta        1
19                 Veneto        7

# ***VOLEVO SOLO FARLO***

In [ ]:
df_prov_reg_com = pd.merge(df_prov_reg2, comuni , how="outer", on = "COD_REG")
df_prov_reg_com

       COD_RIP_x  ...                                           geometry
0              1  ...  POLYGON ((404703.558 5026682.655, 405359.554 5...
1              1  ...  POLYGON ((380700.909 4977305.520, 381105.998 4...
2              1  ...  POLYGON ((364710.857 5022090.678, 364737.794 5...
3              1  ...  POLYGON ((415942.504 5033304.609, 416079.315 5...
4              1  ...  POLYGON ((376934.962 4999073.854, 376960.555 4...
...          ...  ...                                                ...
56242          5  ...  MULTIPOLYGON (((556602.772 4375162.650, 556598...
56243          5  ...  POLYGON ((541186.146 4375105.653, 541180.146 4...
56244          5  ...  MULTIPOLYGON (((546451.098 4325900.553, 546443...
56245          5  ...  POLYGON ((500362.475 4361229.767, 500397.474 4...
56246          5  ...  POLYGON ((494131.525 4353208.832, 494847.519 4...

[56247 rows x 30 columns]

In [ ]:
# DEN_UTS e COMUNE hanno stessi valori perche den_uts Ã¨ ripetuto per ogni comune, per questo hanno tutte e due valir uguali

num_com_e_prov_in_reg = df_prov_reg_com.groupby("DEN_REG", as_index = False)[["DEN_UTS", "COMUNE"]].count()
num_com_e_prov_in_reg

                  DEN_REG  DEN_UTS  COMUNE
0                 Abruzzo     1220    1220
1              Basilicata      262     262
2                Calabria     2020    2020
3                Campania     2750    2750
4          Emilia-Romagna     2952    2952
5   Friuli Venezia Giulia      860     860
6                   Lazio     1890    1890
7                 Liguria      936     936
8               Lombardia    18072   18072
9                  Marche     1135    1135
10                 Molise      272     272
11               Piemonte     9448    9448
12                 Puglia     1542    1542
13               Sardegna     1885    1885
14                Sicilia     3510    3510
15                Toscana     2730    2730
16    Trentino-Alto Adige      564     564
17                 Umbria      184     184
18          Valle d'Aosta       74      74
19                 Veneto     3941    3941